@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.375rem;
    outline: none;
  }
  
  .scrolls::-webkit-scrollbar {
    width: 4px;
  }
  
  .scrolls::-webkit-scrollbar-thumb {
    width: 4px;
  
    border-radius: 10px;
    background: transparent;
  }
  
  .scrollsdown::-webkit-scrollbar {
    height: 4px;
  }
  
  .scrollsdown::-webkit-scrollbar-thumb {
    height: 4px;
  
    border-radius: 10px;
    background: transparent;
  }
  

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  position: relative;

  display: inline-block;

  width: 80px;
  height: 10px;
}

.lds-ellipsis div {
  position: absolute;
  top: 0px;

  width: 12px;
  height: 12px;

  animation-timing-function: cubic-bezier(0, 1, 1, 0);

  border-radius: 50%;
  background: currentColor;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;

  animation: lds-ellipsis1 0.4s infinite;
}


.lds-ellipsis div:nth-child(2) {
  left: 8px;

  animation: lds-ellipsis2 0.4s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;

  animation: lds-ellipsis2 0.4s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;

  animation: lds-ellipsis3 0.4s infinite;
}

@keyframes lds-ellipsis1 {

0% {
  transform: scale(0);
}

100% {
  transform: scale(1);
}

}
@keyframes lds-ellipsis3 {

0% {
  transform: scale(1);
}

100% {
  transform: scale(0);
}

}
@keyframes lds-ellipsis2 {

0% {
  transform: translate(0, 0);
}

100% {
  transform: translate(24px, 0);
}

}
.bg-home {
  background: linear-gradient(109.6deg, #3d36b3 6.42%, #2bbaf4 97.82%);
}
.backup1 {
  background: url(./assets/gimg19.svg)center/contain no-repeat;
}
.backup2 {
  background: url(./assets/gimg20.svg)center/contain no-repeat;
}
.restore1 {
  background: url(./assets/gimg15.svg)center/contain no-repeat;
}
.restore2 {
  background: url(./assets/gimg21.svg)center/contain no-repeat;
}
.changep1 {
  background: url(./assets/gimg14.svg)center/contain no-repeat;
}
.changep2 {
  background: url(./assets/gimg25.svg)center/contain no-repeat;
}
.askp1 {
  background: url(./assets/gimg16.svg)center/contain no-repeat;
}
.askp2 {
  background: url(./assets/gimg23.svg)center/contain no-repeat;
}
.session1 {
  background: url(./assets/gimg18.svg)center/contain no-repeat;
}
.session2 {
  background: url(./assets/gimg22.svg)center/contain no-repeat;
}
.rateus1 {
  background: url(./assets/gimg17.svg)center/contain no-repeat;
}
.rateus2 {
  background: url(./assets/gimg24.svg)center/contain no-repeat;
}